@model Category

<div class="top-right ">
    <a asp-controller="Category" asp-action="Index" class="position-absolute top-1 end-0 pe-3 text-dark font-monospace"><i class="bi bi-arrow-left"></i>Go back to list</a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <h3>Add Category</h3> 
        </div>
        
        
    </div>
</div>
    <!-- Form -->
    <form method="post">
        <!-- Category Name -->
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" required>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <!-- Description -->
        <div class="mb-3">
            <label asp-for="DisplayOrder" class="form-label"></label>
            <input asp-for="DisplayOrder" class="form-control" required>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-dark">Add Category</button>
    </form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
   
}