@model List<Category>
</br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">DisplayOrder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
                
                
            </tr>
        }
        
        
    </tbody>
</table>
